.git
.gitignore
*.pyc
__pycache__
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
.env
instance/*
data/*.db
uploads/*
certbot/*
nginx/conf.d/*
*.sqlite3
.DS_Store
*.swp
*.swo
*~
